.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    margin-right: 50px;
}

.description {
    text-align: center;
}

.description h1 {
    font-size: 2em;
    margin-bottom: 1.5em;
}

.description p {
    margin-bottom: 1.5em;
    line-height: 1.4em;
}

@media (max-width: 800px) {
    .img {
        display: none;
    }

    .description h1 {
        font-size: 1.3em;
    }

    .description p {
        font-size: 0.8em;
    }
}